{% extends 'navbar.html' %}

{% load static %}

{% block content %}

<div class="container emp-profile">
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src={{profile_pic_url}} id="display" width="200" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          {% if username == "" %}
          <h3>
            (Username not set)
          </h3>
          {% else %}
          <h3>
            {{username}}
          </h3>
          {% endif %}
          {% if speciality == "" %}
          <h5>
            (Speciality not set)
          </h5>
          {% else %}
          <h5>
            {{speciality}}
          </h5>
          {% endif %}

          <p class="proile-rating">RATINGS :
            {% if rating > 0 %}
            <span>{{rating}}</span>
            {% else %}
            <span>(No ratings yet)</span>
            {% endif %}
          </p>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link btn-primary" name="map-tab" data-toggle="tab" href="{% url 'doctor_profile' %}#map" role="tab" aria-controls="map" aria-selected="true">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn-primary" name="reviews-tab" data-toggle="tab" href="{% url 'doctor_profile' %}#reviews" role="tab" aria-controls="reviews" aria-selected="true">Reviews</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br>

    <div class="row" id="icon">
      <div class="col-md-4">
        <div class="profile-work">
          <h5 style="font-weight: bold;">ABOUT ME</h5>
          {% if about_me == "" %}
          <p style="color:#4b7dab; font-size: 12px; ">
            (Not Set)
          </p>
          {% else %}
          <p style="color:#4b7dab; font-size: 12px;">
            {{about_me}}
          </p>
          {% endif %}
        </div>
        <div class="profile-work">
          <h5 style="font-weight: bold;">Name</h5>
          {% if username == "" %}
          <p style="color:#4b7dab; font-size: 12px;">
            (Not Set)
          </p>
          {% else %}
          <p style="color:#4b7dab; font-size: 12px;">
            {{username}}
          </p>
          {% endif %}
        </div>
        <div class="profile-work">
          <h5 style="font-weight: bold;">Email</h5>
          {% if email == "" %}
          <p style="color:#4b7dab; font-size: 12px;">
            (Not Set)
          </p>
          {% else %}
          <p style="color:#4b7dab; font-size: 12px;">
            {{email}}
          </p>
          {% endif %}
        </div>
        <div class="profile-work">
          <h5 style="font-weight: bold;">Clinic Name</h5>
          {% if clinic_name == "" %}
          <p style="color:#4b7dab; font-size: 12px;">
            (Not Set)
          </p>
          {% else %}
          <p style="color:#4b7dab; font-size: 12px;">
            {{clinic_name}}
          </p>
          {% endif %}
        </div>
        <div class="profile-work">
          <h5 style="font-weight: bold;">Clinic Address</h5>
          {% if clinic_address == "" %}
          <p style="color:#4b7dab; font-size: 12px;">
            (Not Set)
          </p>
          {% else %}
          <p style="color:#4b7dab; font-size: 12px;">
            {{clinic_address}}
          </p>
          {% endif %}
        </div>
        <div class="profile-work">
          <h5 style="font-weight: bold;">Clinic Visit Charge (Hour)</h5>
          {% if clinic_visit_hourly_rate == 0 %}
          <p style="color:#4b7dab; font-size: 12px;">
            (Not Set)
          </p>
          {% else %}
          <p style="color:#4b7dab; font-size: 12px;">
            RM {{clinic_visit_hourly_rate}}
          </p>
          {% endif %}
        </div>
        <div class="profile-work">
          <h5  style="font-weight: bold;">Home Visit Charge (Hour)</h5>
          {% if home_visit_hourly_rate == 0 %}
          <p style="color:#4b7dab; font-size: 12px;">
            (Not Set)
          </p>
          {% else %}
          <p style="color:#4b7dab; font-size: 12px;">
            RM {{home_visit_hourly_rate}}
          </p>
          {% endif %}
        </div>
      </div>
      <div class="col-md-8">


        <section id="map">
          <div>
            <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
          </div>
        </section>

        <h3>Reviews</h3>
        <hr>

        <section id="reviews">
          <div class="row">
            <div class="col-md-8">
              <br>
              {% if df_reviews.empty == False %}
                {% for i, row in df_reviews.iterrows %}
                <hr width="450" size="5" />
                    <p style="color:gray; font-size: 10px;">{{row.timestamp}}</p>
                    <b>{{row.patient_email}}</b>
                    <p>{{row.rating}} ⭐</p>
                  <div class="row">
                    <p>{{row.review}}</p>
                  </div>
                {% endfor %}
              {% else %}
                <p>No reviews yet.</p>
              {% endif %}
            </div>
            <div class="col-md-4">
              <h4>Write a Review</h4>
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <textarea id="review"class="form-control" name="review" rows="4" cols="50" maxlength="200"></textarea>
                <br>
                <h4>Rating</h4>
                <input list="ratings" class="form-control" name="rating" min="1" max="5">
                <datalist id="ratings">
                  <option value=5>⭐⭐⭐⭐⭐</option>
                  <option value=4>⭐⭐⭐⭐</option>
                  <option value=3>⭐⭐⭐</option>
                  <option value=2>⭐⭐</option>
                  <option value=1>⭐</option>
                </datalist>
                <div class="text-center">
                  <br>
                  <button type="submit" name="btnRate"  class="button-edit-doctor-profile btn" style="display: flex; text-align: center;">Submit Review</button>
                </div>
              </form>
            </div>
          </div>
        </section>

      </div>
    </div>
  </form>
</div>


{% endblock content %}
